web:  
  image: thienkimlove/docker-app
  restart: always
  volumes:
    - .:/srv/www
  links:
    - db
  environment:
     VIRTUAL_HOST: doctrine.tuelinh.vn
db:  
  image: mysql:5.6
  restart: always
  environment:
    MYSQL_ROOT_PASSWORD: tieungao
    MYSQL_DATABASE: dockerapp
    MYSQL_USER: dockerapp
    MYSQL_PASSWORD: tieungao
  volumes_from: 
     - data
data:
 image: mysql:5.6
 command: /bin/true
 volumes:
   - /var/lib/mysql 

